<!DOCTYPE html>
<html>
<head>
  <title>this is the about page for the word counter website</title>
</head>
<body>
  <h1>About this webpage</h1>
  <p>This website is a simple word counter built using Python and Django. It will take any text that you enter and tell you the number of words in the text, which word occured the most and how may times, as well as give you a count of each individual word in the text. Go ahead, give it a try</p>
  <a href="{% url 'home' %}">Return to the Home Page</a>

</body>
</html>